*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.settings
/test
/BirtSample
/gwt-unitCache
/derby.log

/test-classes/test

/war/analyzer
/war/resources

/war/WEB-INF/classes/com
/war/WEB-INF/classes/log4j.properties

/war/WEB-INF/deploy
/war/WEB-INF/lib
